#hero-section-container{
    padding: 0;
    height: 750px;
    overflow: hidden;
    position: relative;
}

.hero-image{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.hero-text{
    display: flex;
    position: relative;
    top: 30%;
    left: 52%;

    font-weight: 700;
    font-size: 86px;
    line-height: 129px;
    text-align: right;
    color: #8C24C7;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.59);
}