.cart-and-summary-container{
    padding: 120px 20px 0 20px;
    gap: 48px;
    display: flex;
    width: auto;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
}

.order-summary{
    padding: 8px 10px 16px 10px;
    background-color: #8C24C7;
    border-radius: 5px;
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-sizing: content-box;
}

.order-summary h4{
    margin: 0;
}

.summary-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.summary-item{
    display: flex;    
    justify-content: space-between;
}

.summary-item p{
    font-size: 18px;
    margin: 0;
}

.summary-items hr{
    margin: 0;
    border: 1px solid white;
    opacity: 1;
}

.order-summary button{
    all: unset;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    transition: background-color 0.3s ease;
}

.order-summary button:hover{
    background-color: #242424;
}

.cart-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.all-table {
    border-spacing: 0px 20px;
    border-collapse: separate;
    font-size: 24px;
}

.all-table img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

.all-table thead{
    width: 100%;
}

.cart-product-image{
    width: 100px;
    height: 133.33px;
    border-radius: 5px;
    object-position: center;
    object-fit: cover;
}

.all-table thead tr {
    background-color: transparent;
    vertical-align: middle;
    color: white;
}

.all-table th {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: normal;

    padding: 8px 16px;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.all-table tbody tr {
    background-color: transparent;
}

.all-table td {
    padding: 8px 16px;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.all-table td:first-child, th:first-child {
    border-left: 1px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.all-table td:last-child, th:last-child {
    border-right: 1px solid white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tblBtn,
.tblBtn:focus {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ff0000;
}