.order-notes-checkout-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.order-notes-component{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 12px;
    background-color: #8C24C7;
    border-radius: 5px;
}

.order-notes-component h4{
    margin: 0;
}

.order-notes-component textarea{
    all: unset;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    box-sizing: border-box;
}

.order-notes-component textarea::placeholder{
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.order-details-checkout-container{
    padding: 120px 20px 0 20px;
    display: flex;
    gap: 48px;
    color: white;
    width: auto;
    justify-content: space-between;
    align-items: flex-start;
}

.checkout-container{
    padding: 8px 10px 16px 10px;
    background-color: #8C24C7;
    border-radius: 5px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-sizing: content-box;
}

.checkout-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.checkout-product{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.checkout-product-details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.checkout-product-image-details{
    display: flex;
    gap: 10px;
}

.checkout-product-image{
    width: 100px;
    height: 133.33px;
    border-radius: 5px;
    object-position: center;
    object-fit: cover;
}

.checkout-product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

.checkout-product p{
    margin: 0;
    font-size: 18px;
}

.checkout-container button{
    all: unset;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    transition: background-color 0.3s ease;
}

.checkout-items hr{
    margin: 0;
    border: 1px solid white;
    opacity: 1;
}

.checkout-container button:hover{
    background-color: #242424;
}

.checkout-container h4{
    margin: 0;
}

.order-details-container p{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.section-title{
    border-bottom: 2.5px #8C24C7 solid;
    flex: 1;
}

.order-details-container h1{
    font-weight: 400;
    margin: 0;
    font-size: 36px;
}

.order-details-container form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.fields-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.order-details-container input{
    all: unset;
    border: 1.5px white solid;
    border-radius: 5px;
    flex: 1 1 calc(48% - 20px);
    max-width: 480px;
    padding: 8px 12px;
    display: flex;
}

.order-details-container select{
    all: unset;
    border-radius: 5px;
    width: 100%;
    appearance: none;
}

#city-dropdown{
    border: 1.5px white solid;
    border-radius: 5px;
    padding: 8px 12px;
    flex: 1 1 calc(48% - 20px);
    max-width: 480px;
    display: flex;
    align-items: center;
    position: relative;
}

#city-dropdown option{
    color: black;
    padding: 12px 10px;
    width: inherit;
}

#full-row-field{
    flex: 1;
    max-width: none;
}

.payment-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #606060;
    border-radius: 5px;
    padding: 18px 12px;
}

.payment-button-selected{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8C24C7;
    border: 2px white solid;
    border-radius: 5px;
    padding: 18px 12px;
}

.shipping-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.confirm-btn{
    all: unset;
    background-color: #8C24C7;
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
    width: inherit;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}    

@media(max-width: 900px){
    .order-details-checkout-container{
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .checkout-container{
        width: inherit;
        gap: 8px;
        box-sizing: border-box;
        padding: 8px 10px;
    }

    .checkout-container button{
        border: none;
        background: none;
        color: white;
        padding: 0;
        display: flex;
        width: inherit;
        justify-content: space-between;
        align-items: center;
    }

    .checkout-container button:hover{
        background-color: #8C24C7;
    }
}