#batch-display-container{
    padding: 40px 0 0 20px;
}

#batch-display-container h1{
    margin: 0 0 10px;
    font-size: 86px;
    font-weight: 600;
    line-height: 1;
}

#batch-display-container h2{
    margin: 0;
    font-size: 36px;
    font-weight: 600;
}

.batch-images-container{
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
}

.batch-image{
    object-fit: cover;
    object-position: center;
}

.batch-image img{
    height: 600px;
    width: auto;
    margin: 0 8px;
    border-radius: 10px;
}