.navbar-customized{
    margin: 0 20px;
    z-index: 10;
    position: absolute;
    width: 100%;
    justify-content: space-between; 
    align-items: center;  
}

.container-fluid{
    margin: 0;
}

.navbar-layout-auto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 80px;
    width: 100vw;
    position: absolute;
    z-index: 100;
    outline: 2px solid red;
}

/* Karvan logo 1 */
.karvan-logo{
    width: auto;
    height: 100px;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;    
    gap: 40px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid red;
}

.nav-button{
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    /* identical to box height */
    color: #FFFFFF;

    /* Inside auto layout */
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-button:hover{
    color: #8C24C7;
}



