.navbar-customized{
    width: 100%;
    padding: 0 20px;
    z-index: 10;
    position: absolute;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-fluid{
    margin: 0;
    padding: 0 20px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    object-position: center;
    object-fit: cover;
}

.karvan-logo{
    max-width: 200px;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;    
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-button{
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    /* identical to box height */
    color: #FFFFFF;

    /* Inside auto layout */
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-button:hover{
    color: #8C24C7;
}

.hamburger-btn{
    all: unset;
}

.hamburger-btn i:hover{
    color: #8C24C7;
}

.ham-menu-container{
    position: fixed;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    gap: 20px;
    background-color: #242424;
    border-radius: 0 0 5px 5px;
    z-index: 150;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in, transform 5s ease-in;
}

.ham-menu-container.open{
    transform: translateX(0);
    opacity: 1;
}

.ham-title-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-height: 80px;
}

.ham-buttons-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

.nav-icon{
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.nav-icon:hover{
    color: #8C24C7;
}