.footer-container{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    background-color: #8C24C7;
    padding: 20px;
    color: white;
}

.footer-container input::placeholder{
    color: white;
    opacity: 0.5;
}

.footer-container img{
    height: 120px;
    width: auto;
}

.footer-columns{
    display: flex;
    justify-content: space-between;
}

.footer-container h2{
    font-size: 28px;
    font-weight: 600;
    margin: 0 0;
}

.footer-col-01{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: space-between;
}

.footer-col-01 p{
    font-size: 20px;
    margin-top: 0;
}

.footer-links{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    line-height: 2;
    cursor: pointer;
}

.footer-links a{
    text-decoration: none;
    color: inherit;    
}

.footer-links a:hover,
.footer-links a:active{
    color: #242424
}

.footer-col-02{
    max-width: 350px;
}

.footer-col-03{
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.footer-col-03 p{
    margin: 10px 0;
    color: #BDBDBD;
}

.footer-col-03 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-col-03 input{
    all: unset;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    margin-bottom: 10px;
    height: 52px;
    padding: 8px 12px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
}

.footer-col-03 textarea{
    all: unset;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
}

.footer-col-03 textarea::placeholder{
    color: white;
    opacity: 0.5;
}

.footer-col-03 button{
    all: unset;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 12px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    transition: background-color 0.3s ease;
}

.footer-col-03 button:hover{
    background-color: #242424;
}

.footer-handle{
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-email-container{
    display: flex;
    max-width: 350px;
}