.product-display-container{
    margin: 40px 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    outline: 2px solid red;
}

.product-container{
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container img{
    height: 350px;
    width: 250px;
    background-color: purple;
    border-radius: 10px 10px 0 0;
    border: black solid 0.5px;
    object-fit: cover;
    object-position: center;
}

.product-details{
    background-color: #DCDCDC;
    border: black solid 0.5px;
    border-top: none;
    width: 230px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.product-details h3{
    text-align: center;
    font-size: 16px;
    font-weight: 600px;
    margin: 8px 0 4px;
}

.product-details p{
    text-align: center;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.product-details-pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details-pricing h3{
    margin: 0;
}
