#product-display-container{
    padding: 40px 0 40px 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
}

.product-container{
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container img{
    height: 280px;
    width: 220px;
    border-radius: 10px 10px 0 0;
    border: black solid 0.5px;
    object-fit: cover;
    object-position: center;
}

.product-container img:hover{
    cursor: pointer;
}

.product-sizes{
    display: flex;
    justify-content: center;
}

.product-size{
    text-decoration: none;
    color: black;
    margin: 0 4px;
    cursor: pointer;
}

.product-size.selected {
    color: #8C24C7; 
    font-weight: bold; 
}

.selected-product-size,
.product-size:hover,
.product-size:active{
    color: #8C24C7;
}

.product-details{
    background-color: #DCDCDC;
    border: black solid 0.5px;
    border-top: none;
    width: 220px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.product-details h3{
    text-align: center;
    font-size: 16px;
    font-weight: 600px;
    margin: 8px 0 4px;
}

.product-details p{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.product-details-pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details-pricing h3{
    margin: 0;
    font-weight: 600;
}

.product-details-pricing a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.product-details .product-details-pricing a:hover{
    color: #8C24C7;
}

@media (max-width: 900) {
    .product-container img{
        height: 300px;
        width: 214px;
    }
}